*{
	padding: 0;
	margin:0;
}
body{
	font-family: 'Roboto', Arial, sans-serif;

}
.navbar-header img{
	margin-top: -15px;
	float: left;
}
.navbar-header span{
	padding-left: 20px;
	padding-right: 100px;
}
.navbar-nav li a{
	font-weight: 700;
}
.banner{
	background-color: #333333;
	height: 400px;
	margin-top: -20px;
}
.content{
	background-color: #f5f5f5;
	height: auto;
	margin-top: -20px;
}
.left{
	background-color: white;
	margin-left: 50px;

	/*margin-top: -310px;*/
}
.left .item{
	margin-top: 20px;
}
.left p{
	height: 30px;
	background-color: #333333;
	color: white;
	font-weight: 700;
	line-height: 30px;
	font-size: 18px;
	text-align:center;
}
.right{
	margin-left: 30px;
}
.right p{
	font-weight: 700;
	font-size: 18px;
	color: black;
}
.tintuc{
  margin-top: 240px;
    margin-left: 20px;
}
.tintuc .tin p{
	color: #42a5f5;
	font-size: 1.4rem;
	padding:5px 10px;
}
.tintuc .content-tintuc{
	border: 1px solid #dddddd;
}

/*end-chon-mon*/

.banner{
	background-color: #a3d59e;
	height: 100px;
}
.table1{
	border: 1px solid black;
	margin-top: 5%;
}
.table1 input[type=radio]{
	height: 20px;
	width: 20px;
	text-align: center;
}
.radio-inline{
	padding:20px 60px;
}
.radio-inline input[type=radio]{
	margin-top: -3px;
    margin-left: 18px;
}
.motcau{
	margin-top: 5%;
}
#countdown{
	font-family: sans-serif;
	color:white;
	width:400px;margin:auto;
	font-size:8em;
	border: 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
    margin-top: 5%;
    margin-bottom: 5%;
}
#countdown p{
	margin-top: 45px;
    margin-left: 50px;
}
#time{
	    margin-left: 50px;
}
.list-cauhoi ul{
	list-style: none;

}
.list-cauhoi ul li{
	line-height: 35px;	
	float: left;
	width: 60px;
	height: 35px;
	margin: 5px 5px;
	background-color: #c4c4c4;
}
.active-cauhoi{
	background-color: #318cca !important;
}
.nopbai button{
		font-family: sans-serif;
		font-weight: 700px;
		font-size: 25px;
	
}
.sweet-alert p{
	font-size: 22px;
    color: red;
}
.ketqua{
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 20px;

}
.diemthi{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: orange;
	margin: 30px 10px;
}
.diem{
	text-align: center;
    padding-top: 45px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;

}
.socau{
	margin-top: 60px;
    font-size: 18px;
    margin-left: 50px;
    font-family: sans-serif;
}
.bang{
	margin-top: 40px;
}
.bang2{
	margin-top: 90px;
}
.bang2 p {
    padding-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
.form-horizontal .form-group{
	margin-top: 30px !important;
    margin-left: 130px !important;
}
.title{
  margin-top: 50px;
}
.title h1{
  color:white;
}
.thi .vaothi{
  padding: 15px 10px;
    margin-top: 40px;
    font-size: 45px;
}
.navbar-default{
	background-color: #bcd6de;
	border-color:none !important;
}

.napde{
	padding:0;
	margin-top: 20px;
}

/*css-radio*/

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none !important;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 24.66667px;
  text-align: center;
  line-height: 30px;
}

.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
/*css-radio*/

